.mech_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.mech_card{
    position: relative;
    width: 280px;
    max-height: max-content;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: url('../../../assets/poster.svg');
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.mech_card .mech_content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.mech_card .mech_content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}
.mech_card .mech_content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.mech_card .mech_content p{
    font-size: 1em;
    color: #fff;
    font-weight: 600;
}
.mech_card .mech_content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.mech_button{
    display: flex;
    justify-content: space-between;
}