.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.8);
    font-family: 'Quicksand';
    
}
.footer_container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    color: aliceblue;
}
.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem; 
    justify-content: center;
}
.location{
    display: flex;
    margin-bottom: 0.8rem;
    align-items: center;
}
.location p{
    line-height: 30px;
}
.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.social{
    margin-top: 1rem;
    display: flex;  
    justify-content: space-evenly;
}
h4{
    font-size: 20px;
    padding-bottom: 0.7rem;
}
p{
    font-size: 15px;
    padding-left: 20px;
}

@media screen and (max-width: 640px){
    .footer_container{
        grid-template-columns: 1fr;
    }
}


    
